<div class="card">
  <header class="card-header">404</header>
  <div class="card-content">
    <div class="inner">This Page was not found. Please go to another page or try again.</div>
  </div>
</div>
