<div class="grid">
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Repo Status</header>
      <div class="card-content">
        <div class="inner">Unkown</div>
      </div>
    </div>
  </div>
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">IPFS Status</header>
      <div class="card-content">
        <div class="inner">Unkown</div>
      </div>
    </div>
  </div>
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Server Status</header>
      <div class="card-content">
        <div class="inner">Unkown</div>
      </div>
    </div>
  </div>
  <div class="cell -4of12">
  </div>
</div>
