<div class="grid">
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Repo Status</header>
      <div class="card-content">
        <div class="inner">Unkown</div>
      </div>
    </div>
  </div>
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">IPFS Status</header>
      <div class="card-content">
        <div class="inner">Running: <%=status.ipfs.running?"Yes":"No"%><br>Type: <%=status.ipfs.external?"External":"Internal"%></div>
      </div>
    </div>
  </div>
  <div class="cell -4of12 margin">
    <div class="card">
      <header class="card-header">Server Status</header>
      <div class="card-content">
        <div class="inner">Unkown</div>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="cell -12of12">
    <div class="card" style="margin:8px 48px 32px 48px;">
      <header class="card-header">Add to OS Loader</header>
      <div class="card-content">
        <div class="inner">
          <%=addurl%>
        </div>
      </div>
    </div>
  </div>
</div>
