<form class="form" action="/Login" method="POST">
  <fieldset class="form-group">
    <label for="username">USERNAME:</label>
    <input name="username" id="username" type="text" placeholder="Username" class="form-control">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">PASSWORD:</label>
    <input name="password" id="password" type="password" placeholder="Password" class="form-control">
  </fieldset>
  <div class="form-actions">
    <button class="btn btn-primary btn-block">Login</button>
  </div>
</form>
