  <div class="grid">
    <div class="cell -12of12">
      <div class="card" style="margin:8px 48px 32px 48px;background:<%=s.theme%>">
        <a href="/admin/Systems/<%=s._id%>">
          <header class="card-header"><%=s.name%></header>
        </a>
        <div class="card-content">
          <div class="inner">
            <%
            s.desc.split("\n").map(function(d) {
              %><%=d%><br><%
            });
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
