<% systems.map(function(s) {
  %>
  <div class="grid">
    <div class="cell -12of12">
      <div class="card" style="margin:8px 48px 32px 48px;background:<%=s.theme%>">
        <a href="/admin/Systems/<%=s._id%>">
          <header class="card-header"><%=s.name%></header>
        </a>
        <div class="card-content">
          <div class="inner">
            <%=s.desc%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%
})%>
<a href="/admin/Systems/new"><button class="btn btn-primary">Create New</button></a>
